[user]
	email = tifoxser@gmail.com
	name = ifoxser
[core]
	editor = nvim -c 'startinsert' -c 'normal! gg'
	hooksPath = ~/.config/git/hooks
[color]
	ui = auto
[commit]
	template = ~/.config/git/.gitmessage
